<style>
  .add-soldier {
    width: 500px;
    margin: auto;
    margin-top: 80px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.4);
    padding: 30px;
  }
  .actions button{
    margin-right: 5px;
    margin-bottom: 5px;
  }
</style>
<div class="add-soldier">
<%= form_for(soldier) do |f| %>
  <% if soldier.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger" ><%= pluralize(soldier.errors.count, "error") %> prohibited this soldier from being saved:</div>
      <ul>
      <% soldier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <input name="soldier[name]" placeholder="Soldier name" value="<%= @soldier.name %>">
  </div>

  <div class="field">
    <label>ID</label><br>
    <input name="soldier[idd]" placeholder="Soldier id" value="<%= @soldier.name %>">
  </div>
      <div class="actions">


    <button type="button" class="btn" onclick="addUniversity()">Add university</button>
    <button type="button" class="btn" onclick="addSchool()">Add profession</button>
    <button type="button" class="btn" onclick="addProfession()">Add profession</button>
    <button type="button" class="btn" onclick="addCourse()">Add courses</button>
    <button type="button" class="btn" onclick="addService()">Add army service</button>
      </div>
    <script>
      var universitiesCount = 0;
      function addUniversity(){
        var container = $('#universities');
        var counter = universitiesCount;
        var tagname = 'university';
        var title = 'university';
        addTag(container, counter, tagname, title);
        universitiesCount ++;
      }
      var schoolsCount = 0;
      function addSchool(){
        var container = $('#schools');
        var counter = schoolsCount;
        var tagname = 'school';
        var title = 'school';
        addTag(container, counter, tagname, title);
        schoolsCount ++;   
      }

      var professionsCount = 0;
      function addProfession() {
        var container = $('#professions');
        var counter = professionsCount;
        var tagname = 'profession';
        var title = 'profession';
        addTag(container, counter, tagname, title);
        professionsCount ++;
      }


      var coursesCount = 0;
      function addCourse() {
        var container = $('#courses');
        var counter = coursesCount;
        var tagname = 'course';
        var title = 'course';
        addTag(container, counter, tagname, title);
        coursesCount ++;
      }

      var servicesCount = 0;
      function addService() {
        var container = $('#services');
        var counter = servicesCount;
        var tagname = 'service';
        var title = 'army service';
        addTag(container, counter, tagname, title);
        servicesCount ++;
      }

      function addTag(container, counter, tagname, title) {
          container.html(container.html() + 
            "<div class='panel panel-default' >" +
              "<div class='panel-heading'><h3 class='panel-title'>New " + title +"</h3></div>" + 
              "<div class='panel-body'>" +
              "<input name='" + tagname +"_name_" + counter + "' placeholder='Name'/><br>" +
              "<input name='" + tagname +"_profession_" + counter + "' placeholder='Profession'/><br>" +
              "<input name='" + tagname +"_grade_" + counter + "' placeholder='Grade'/>" + 
              "</div>" +
            "</div>");
      }
    </script>
    <div id="schools">
    </div>
    <div id="universities">
    </div>
    <div id="courses"></div>
    <div id="professions"></div>
    <div id="services"></div>
  <div class="actions">
    <button class="btn">Create</button>
  </div>
<% end %>
</div>